@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3">
            <!-- Profile -->
            @await Component.InvokeAsync("ProfileMain")
            <!-- Accordion -->
            @{ Html.RenderPartial("Partials/ProfileLeftAccordion");}
            <!-- Interests -->
            @{Html.RenderPartial("Partials/Interests");}
            <!-- Alert Box -->
            @{Html.RenderPartial("Partials/LeftAlertBox");}

            <!-- End Left Column -->
        </div>

        <!-- Middle Column -->
        <div class="w3-col m7">

            @{Html.RenderPartial("Partials/PostBox");}

            @{Html.RenderPartial("Partials/WallPost_ImagesAndText");}

            @{Html.RenderPartial("Partials/WallPost_Text");}

            @{Html.RenderPartial("Partials/WallPost_BigImage");}

            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            @{Html.RenderPartial("Partials/UpcomingEvents");}

            @{Html.RenderPartial("Partials/FriendsRequest");}

            <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
@section Footer{
    @{
        Html.RenderPartial("Footer");
    }
}